@using ArabicTextAnalyzer.Business.Provider
@model List<ArabicTextAnalyzer.ViewModels.Class2>
<table class="posts">
    <tr class="header">
        <th class="center top col120px">Date</th>
        <th class="center top col50prc">Arabizi</th>
        <th class="center top col50prc">Arabic</th>
        <th class="center top col75px"></th>
    </tr>
    @foreach (var entry in Model)
    {
        <tr>
            <td>@entry.ArabiziEntry.ArabiziEntryDate.ToString("yyyy-MM-dd HH:mm")</td>
            <td class="arabizi-text top">@entry.ArabiziEntry.ArabiziText</td>
            <td class="arabic-text top">@Html.Raw(@TextTools.HighlightExtractedLatinWords(@entry.ArabicDarijaEntry.ArabicDarijaText, @entry.ArabicDarijaEntryLatinWords))</td>
            <td class="center top"><a href="@Url.Action("Train_DeleteEntry", new { arabiziWordGuid = @entry.ArabiziEntry.ID_ARABIZIENTRY })" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a></td>
        </tr>
    }
</table>