<!-- Nav tabs -->
@using OADRJNLPCommon.Models;

@{
    List<T_FB_INFLUENCER> FbInfluencers = ViewBag.AllInfluence;

    int MaxFbPageAllowed = 5;

    string htmlchecked = Convert.ToBoolean(ViewBag.AdminModeShowAll) == true ? "checked" : String.Empty;
    bool NegatedAdminModeShowAll = !Convert.ToBoolean(ViewBag.AdminModeShowAll);
}

<style>
    tr.shown {
        background-color: #f3c589 !important;
    }
</style>

<!-- tabs header list -->
<ul class="nav nav-pills" role="tablist">
    <!-- first tab header : working data -->
    <li role="presentation" class="active mainUL"><a href="#first" aria-controls="first" role="tab" data-toggle="tab">Working Data</a></li>
    @if (FbInfluencers != null && FbInfluencers.Count > 0)
    {
        var count = 1;
        <li class="hide"><input type="hidden" id="hdnTotalInfluencer" value="@FbInfluencers.Count" /></li>
        <!-- subsequent tabs header : FB pages -->
        foreach (var item in FbInfluencers)
        {
            <!-- hidden info about the fb page : urlname, id, auto retrieve y/n -->
            <li class="hide">
                <input type="hidden" id="hdnURLName_@count" value="@item.url_name" />
                <input type="hidden" id="hdnId_@count" value="@item.id" />
                <input type="hidden" id="hdnIsAutoStart_@count" value="@item.AutoRetrieveFBPostAndComments" />
            </li>

            <!-- FB page -->
            <li role="presentation" class="mainUL" id="@item.id"><a aria-controls="second" role="tab" data-toggle="tab" style="cursor:pointer;" onclick="LoadFacebookPosts('@item.id')"><i class="fa fa-facebook-square"></i> @item.name</a></li>
            count = count + 1;
        }
    }
    @if (FbInfluencers == null || FbInfluencers.Count < MaxFbPageAllowed)
    {
        <!-- Button "Plus" to create new FB page -->
        <li id="addFBPage" role="presentation" class="mainUL"><a data-toggle="modal" data-target="#myModalForaddInfluencer" data-backdrop="static" data-keyboard="false"><span class="glyphicon glyphicon-plus"></span></a></li>
    }
    <!-- admin reserved -->
    @if (User.IsInRole("Administrator"))
    {
        <!-- admin checkbox to show all posts -->
        <li role="presentation" class="mainUL floatright">
            <label><input type="checkbox" onclick="BringNewDataIntoPartialView(@(NegatedAdminModeShowAll.ToString().ToLower()));" @htmlchecked> Show all posts/comments for all users</label>
        </li>
    }
</ul>

<!-- tabs content list -->
<div class="tab-content" style="padding: 15px;">
    <!-- tab content of working data posts -->
    <div role="tabpanel" class="tab-pane active" id="first">
        <table class="posts datatables-table table table-striped table-hover table-bordered">
            <thead>
                <tr class="header">
                    <th class="center top col50px">#</th>
                    <th class="center top col110px">Date</th>
                    <th class="center top col50prc">Arabizi</th>
                    <th class="center top col50prc">Arabic</th>
                    <th class="center top col100px">NER Types</th>
                    <th class="center top col130px">Entities</th>
                    <th class="center top col75px"></th>
                </tr>
            </thead>
            <tfoot>
                <tr class="header">
                    <th class="center top">#</th>
                    <th class="center top">Date</th>
                    <th class="center top">Arabizi</th>
                    <th class="center top">Arabic</th>
                    <th class="center top">NER Types</th>
                    <th class="center top">Entities</th>
                    <th class="center top"></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- tab content for FB pages -->
    @if (FbInfluencers != null && FbInfluencers.Count > 0)
    {
        foreach (var item in FbInfluencers)
        {
            <div role="tabpanel" class="tab-pane" id="second_@item.id">
                <!-- Button "Retrieve" to retreive FB page posts and associated comments -->
                <!-- And button add entities to cross-match against -->
                <div class="form-group">
                    <a class="btn btn-outline-primary btn-xs" id="import_posts" onclick="JsRetrieveFBPosts('@item.url_name','@item.id')">Retrieve new posts <span class="glyphicon glyphicon-refresh"></span></a>
                    <a class="btn btn-danger btn-xs pull-right" id="insert_list" data-toggle='modal' data-target='#myModal_@item.id'>Config FB Alerts <span class="glyphicon glyphicon-cog"></span></a>
                </div>
                <!-- table of FB page posts -->
                <table class="posts-fb datatables-table-fb table table-striped table-hover table-bordered table_@item.id">
                    <thead>
                        <tr class="header">
                            <th class="center top col50px">vacd</th>
                            <th class="center top col50px">#</th>
                            @* <th class="center top col110px">Influencer Id</th> *@
                            <th class="center top col50prc">Post Text</th>
                            <th class="center top col50prc">Translated Text</th>
                            <th class="center top col50prc">Total likes</th>
                            <th class="center top col100px">Total Comment</th>
                            <th class="center top col130px">Publishing date</th>
                            <th class="center top col75px">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <!-- modal to add entities to cross-match against negative NER detected in the FB Filter module -->
            <div class="modal fade" id="myModal_@item.id" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="color:red;">FaceBook Page Alerts/Filters Settings</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12 form-group">
                                    <div class="col-lg-3">
                                        <label for="txtTxetEntity" class="control-label">Target Entities</label>
                                    </div>
                                    <div class="col-lg-9">
                                        <input type="text" id="txtTxetEntity_@item.id" class="form-control" name="txtTxetEntity" value="@item.TargetEntities" placeholder="Comma-separated target entities : coca-cola, fanta, ...">
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <div class="col-lg-9">
                                        <label for="cbxAutoRetrieveFBPostAndComments" class="control-label">Start/stop auto retrieve of FB posts and comments</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @if (item.AutoRetrieveFBPostAndComments == false)
                                        {
                                            <input type="checkbox" id="cbxAutoRetrieveFBPostAndComments_@item.id" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="cbxAutoRetrieveFBPostAndComments_@item.id" checked="checked" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" value="Save Settings" class="btn btn-primary" id="btnAddOption" onclick="AddTextEntity('@item.id');" />
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="modal fade" id="myModalForaddInfluencer" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:red;">Add new influencer</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-lg-12 form-group">
                        <label for="lgFormGroupInput" class="col-lg-4 col-sm-4 col-form-label col-form-label-lg">Influencer Name</label>
                        <div class="col-sm-8 col-lg-8">
                            <input type="text" class="form-control" placeholder="Enter url name" required="required" id="txtUrlName" />
                        </div>
                    </div>
                    <div class="col-lg-12 form-group">
                        <label for="lgFormGroupInput" class="col-lg-4 col-sm-4 col-form-label col-form-label-lg">Influencer Bias</label>
                        <div class="col-sm-8 col-lg-8">
                            <select required="required" id="ddlPro_or_anti" class="form-control">
                                <option value="">--Select any--</option>
                                <option value="pro">Pro</option>
                                <option value="anti">Anti</option>
                                <option value="n/a">Not Applicable</option>
                            </select>
                        </div>
                    </div>
                </div>
                <a class="btn btn-default btn-success" onclick="AddInfluencer()">Add</a>
            </div>
        </div>
    </div>
</div>
<br />