@model ArabicTextAnalyzer.Models.M_ARABIZIENTRY
@{
    ViewBag.Title = "Train";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/css_train")
}

@section scripts {
    @Scripts.Render("~/bundles/js_train")
}

<h2>Training (v0.177.31.1)</h2>

@using (Html.BeginForm("TrainStepOne", "Train", FormMethod.Post))
{
    <div class="row" style="margin-top: 30px">
        <div class="col-md-4">
            <div class="panel panel-default active">
                <div class="panel-heading">Arabizi</div>
                <div class="panel-body" style="padding: 0; height: 150px">
                    @Html.TextAreaFor(m => m.ArabiziText, new { id = "SentenceIn", style = "height: 100%; width: 100%", @required = "required" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @if (String.IsNullOrEmpty(ViewBag.MostPopularVariant) == false)
            {
                <div class="panel panel-default active arabic ">
                    <div class="panel-heading">Most Popular Variant : @ViewBag.MostPopularVariant</div>
                    <div class="panel-body" style="padding: 0; height: 150px; position:relative;">
                        <div class="loader"></div>
                        <textarea style="height: 100%; width: 100%" id="arabic-text">@ViewBag.Post</textarea>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            <div class="panel panel-default active arabic ">
                <div class="panel-heading">Corpus Info</div>
                <div class="panel-body" style="padding: 0; height: 150px; position:relative;">
                    <div class="loader"></div>
                    <div class="row" style="padding:10px;">
                        <div class="col-md-2">Lines:</div>
                        <div class="col-md-10">@String.Format("{0:n0}", @ViewBag.CorpusSize)</div>
                    </div>
                    @*<div class="row" style="padding:10px;">
                            <div class="col-md-2">Words:</div>
                            <div class="col-md-10">@String.Format("{0:n0}", @ViewBag.CorpusWordCount)</div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-success btn-lg" type="submit" id="train">
                Train
            </button>
        </div>
    </div>
}

<!-- Place where you will insert your partial -->
<div id="partialPlaceHolder" style="display:inline;"> </div>

