@using ArabicTextAnalyzer.Content.Resources
@{
    ViewBag.Title = "Gravitas - " + R.StatsNdReports;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {

    @* mandatory : vertical menus, ... *@
    @Styles.Render("~/Content/css_train")

    @* klpf : hide the small footer *@
    @Styles.Render("~/Content/css_train_klpfl")
}

@section scripts {

    <!-- klpf -->
    <script type="text/javascript" src="https://embed.klipfolio.com/a/js/embed.api"></script>
    <script>
        // KF is used by std index with tables & klip reports
        if (typeof KF != 'undefined') {

            // klipfolio 1 : here because the klipfolio is available only after loading partial view
            KF.embed.embedKlip({
                profile: "d3066a5aec3f32032e5493c6e1d7f6ac",
                settings: { "width": 450, "theme": "light", "borderStyle": "round", "borderColor": "#cccccc" },
                title: "NERs Count"
            });

            // k1 (using api)
            KF.embed.embedKlip({
                profile: "a56e83a13463b331c21b03a307adc9ef",
                settings: { "width": 450, "theme": "light", "borderStyle": "round", "borderColor": "#cccccc" },
                title: "NERs Count Per Theme"
            });

            // klipfolio 2 : here because the klipfolio is available only after loading partial view
            KF.embed.embedKlip({
                profile: "45a5705de26ee482f3b79609f9676ecc",
                settings: { "width": 450, "theme": "light", "borderStyle": "round", "borderColor": "#cccccc" },
                title: "NERs Type Count"
            });

            // k3
            KF.embed.embedKlip({
                profile: "c359a92c257f3fa726356b23b4415bfa",
                settings: { "width": 450, "theme": "light", "borderStyle": "round", "borderColor": "#cccccc" },
                title: "Sentiment Analysis"
            });

            // k4 : part de voix
            KF.embed.embedKlip({
                profile: "4e81c894b814346e50f7361aef991cf5",
                settings: { "width": 450, "theme": "light", "borderStyle": "round", "borderColor": "#cccccc" },
                title: "Parts de Voix"
            });
        }
    </script>

    <!-- charts.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
    <script>

        var barChartData =
            {
                labels: [@Html.Raw(ViewBag.ObjectName)], // the names displayed on the x-axis, see images below
                datasets: [{
                    // label: 'NERs Count',
                    label: '',
                    backgroundColor: "#aad2ed",
                    /*backgroundColor: [
                        "#f990a7",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                    ],*/
                    borderWidth: 2,
                    data: [@ViewBag.Data]  //what you returned back from controller. values displayed on the y-axis, see images below
                }]
            };

        var barChartDataNerTypeCountPerTheme =
            {
                labels: [@Html.Raw(ViewBag.ObjectNameNerTypeCountPerTheme)], // the names displayed on the x-axis, see images below
                datasets: [{
                    label: '',
                    backgroundColor: "#aae2ed",
                    borderWidth: 2,
                    data: [@ViewBag.DataNerTypeCountPerTheme]  //what you returned back from controller. values displayed on the y-axis, see images below
                }]
            };
        var barChartDataSACountPerTheme =
            {
                labels: [@Html.Raw(ViewBag.ObjectNameSACountPerTheme)], // the names displayed on the x-axis, see images below
                datasets: [{
                    label: '',
                    backgroundColor: "#9ae2dd",
                    borderWidth: 2,
                    data: [@ViewBag.DataSACountPerTheme]  //what you returned back from controller. values displayed on the y-axis, see images below
                }]
            };

        window.onload = function () {
            var ctx1 = document.getElementById("barcanvas").getContext("2d");
            window.myBar = new Chart(ctx1,
                {
                    type: 'bar',
                    data: barChartData,
                    options:
                        {
                            title:
                            {
                                display: true,
                                // text: "NERs Count"
                                text: "Les Mots-Clés les plus Fréquents"
                            },
                            responsive: true,
                            maintainAspectRatio: true
                        }
                });

            var ctxnertype = document.getElementById("nertype").getContext("2d");
            /*window.myBar = */new Chart(ctxnertype,
                {
                    type: 'bar',
                    data: barChartDataNerTypeCountPerTheme,
                    options:
                        {
                            title:
                            {
                                display: true,
                                // text: "NERs Count"
                                text: "Les Types de Mots-Clés les plus Fréquents"
                            },
                            responsive: true,
                            maintainAspectRatio: true
                        }
                });

            var ctxsa = document.getElementById("sa").getContext("2d");
            new Chart(ctxsa,
                {
                    type: 'bar',
                    data: barChartDataSACountPerTheme,
                    options:
                        {
                            title:
                            {
                                display: true,
                                // text: "NERs Count"
                                text: "Sentiments Analysis"
                            },
                            responsive: true,
                            maintainAspectRatio: true
                        }
                });
        }
    </script>
}

<h2>@ViewBag.Title.</h2>
<h4>@R.ShowStatisticsAboutEtc</h4>
<hr />

<!-- tab content for stats -->
<div role="tabpanel" class="tab-pane" id="statscontent" style="display: none">
    <div style="display:inline-block" id="kf-embed-container-a56e83a13463b331c21b03a307adc9ef"></div>
    <div style="display:inline-block" id="kf-embed-container-d3066a5aec3f32032e5493c6e1d7f6ac"></div>
    <div style="display:inline-block" id="kf-embed-container-45a5705de26ee482f3b79609f9676ecc"></div>
    <div style="display:inline-block" id="kf-embed-container-c359a92c257f3fa726356b23b4415bfa"></div>
    <div style="display:inline-block" id="kf-embed-container-4e81c894b814346e50f7361aef991cf5"></div>
</div>
<a href="@Url.Action("XtrctTheme_Keywords_Reload", new { themename = @ViewBag.UserActiveXtrctTheme.ThemeName.Trim() })" class="btn btn-outline-primary btn-xs">@R.RefreshCharts <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
<div style="text-align: center">
    <canvas id="barcanvas"></canvas>
</div> 
<div style="text-align: center; margin-top: 30px;">
    <canvas id="nertype"></canvas>
</div>
<div style="text-align: center; margin-top: 30px;">
    <canvas id="sa"></canvas>
</div>
