<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

    @* awesome fonts *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @* vertical load time *@
    <link rel="stylesheet" type="text/css" href="~/Content/hlpr.vertical-text.css" />

    @* vertical accordion menu *@
    <style>
        #accordion .glyphicon {
            margin-right: 10px;
        }

        #accordion i.fa {
            margin-right: 10px;
        }

        .panel-body {
            padding: 0px;
        }

            .panel-body table tr td {
                padding-left: 15px;
            }

            .panel-body .table {
                margin-bottom: 0px;
            }
    </style>

    @Scripts.Render("~/bundles/jquery")
    @*script to track and canel all ajax calls when unloading page*@
    <script>
        // Automatically cancel unfinished ajax requests
        // when the user navigates elsewhere.
        (function ($) {
            var xhrPool = [];
            $(document).ajaxSend(function (e, jqXHR, options) {
                xhrPool.push(jqXHR);
            });
            $(document).ajaxComplete(function (e, jqXHR, options) {
                xhrPool = $.grep(xhrPool, function (x) { return x != jqXHR });
            });
            var abort = function () {
                $.each(xhrPool, function (idx, jqXHR) {
                    jqXHR.abort();
                });
            };

            var oldbeforeunload = window.onbeforeunload;
            window.onbeforeunload = function () {
                var r = oldbeforeunload ? oldbeforeunload() : undefined;
                if (r == undefined) {
                    // only cancel requests if there is no prompt to stay on the page
                    // if there is a prompt, it will likely give the requests enough time to finish
                    abort();
                }
                return r;
            }
        })(jQuery);
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117637490-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-117637490-1');
    </script>
</head>

<body>
    @* logo *@
    <img src="~/Content/Images/logo-gravitas-Analytix-textless-white.png" class="logogravitas-not-white" />

    <!-- top menu -->
    <div class="navbar navbar-inverse navbar-fixed-top adekwasy">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <!-- body -->
    <div id="body">
        <div class="container-fluid body-content">
            @RenderBody()
        </div>
    </div>
    <hr class="loginno" />
    <footer>
        <p style="padding:5px;">&copy; @DateTime.Now.Year - Gravitas</p>
    </footer>

    <p class="loginno" style="font-size: 13px; text-align: justify; margin-top: 5px; margin-left: 2px; margin-right: 2px;">
        <b>Conditions d’utilisation :</b> Les services fournis par Gravitas sont des services en mode d’essai utilisateur BETA (Partenaire BETA). Aucune garantie n’est fournie aux utilisateurs et tout utilisateur reconnait avoir été parfaitement informé du caractère expérimental et non définitif de la version Bêta de Gravitas Analytix. Gravitas Analytix BETA est dans un état de développement suffisamment avancé pour être utilisable, mais qui ne présente pas encore les caractéristiques de qualité, de stabilité et de fiabilité nécessaire à une commercialisation à grande échelle. La version Bêta pourra ne pas contenir toutes les fonctionnalités qui figureront dans la version définitive de l’application Gravitas Analytix.
        Gravitas concède, par le présent contrat, au Partenaire Bêta Testeur une licence personnelle version Bêta Test, non exclusive, non cessible et gratuite, autorisant seul le Partenaire Bêta testeur à utiliser l’application en version Bêta à des fins d’évaluation et de démonstrations. Gravitas ne concède aucun droit autre que celui d’un usage personnel et dans aucun cas à des fins commerciales ou de représentation.
        Par conséquent, Gravitas interdit au Partenaire Bêta testeur de proposer l’application Gravitas Analytix en version Bêta à un éventuel client à des fins d’évaluation ou de tests, Gravitas déclinant toute responsabilité si le Partenaire Bêta testeur met à la disposition des clients Gravitas Analytix en version Bêta et que ce(s) dernier(s) cause(nt) des éventuels dommages au client.
        Le Progiciel en version Bêta doit être exclusivement utilisé pour des fins personnels sans aucune réserve.
        Le Partenaire Bêta testeur prendra toutes les mesures nécessaires à la protection des droits de propriété intellectuelle et industrielle portant sur Gravitas Analytix en version Bêta, et s’engage à ne pas y porter atteinte de façon directe ou indirecte. Toute reproduction et/ou représentation de l’application en version Bêta est interdite.
        Gravitas NE GARANTIT PAS QUE L’UTILISATION DES SERVICES SERA ININTERROMPUE OU EXEMPTE D’ERREURS. <b>Merci d'envoyer vos erreurs rencontrées à l'adresse électronique support@gravitas.ma</b>
    </p>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)

</body>
</html>
