@model ArabicTextAnalyzer.Models.IndexViewModel
@using ArabicTextAnalyzer.Content.Resources
@{
    ViewBag.Title = R.Settings;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {

    @Styles.Render("~/Content/css_train")
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@R.ManageYourAccountSettings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@R.Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
