@using ArabicTextAnalyzer.Content.Resources
@{
    ViewBag.Title = R.ConfirmedEmail;
}

@section styles {

    @* backgroung visuel *@
    @Styles.Render("~/Content/css_login")
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @R.ThankYouForConfirmingYourEmail. @R.Please @Html.ActionLink(R.ClickHereToLogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
