@using ArabicTextAnalyzer.Models
@using ArabicTextAnalyzer.Content.Resources
@model LoginViewModel
@{
    // ViewBag.Title = "Traitement et Analyse de Contenus";
    ViewBag.Title = R.LogInGravitasApp;
}

@section styles {

    @* backgroung visuel *@
    @Styles.Render("~/Content/css_login")
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>@R.UseALocalAccountToLogIn</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-3 col-xs-12 control-label" })
                    <div class="col-md-9 col-xs-11">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 col-xs-12 control-label" })
                    <div class="col-md-9 col-xs-11">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@R.LogIn" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink(R.RegisterAsANewUser, "Register")
                </p>
                <p>
                    @Html.ActionLink(R.ForgotYourPassword, "ForgotPassword")
                </p>
                <p style="float:right;text-align: justify;background-color: rgba(255,100,7,0.1);padding: 5px;border-top: 1px solid;border-top-color: red;">L'application Gravitas est une solution utilisant des technologies propriétaires, combinées à des algorithmes développés par des leaders de l’industrie pour le traitement et l'analyse de contenus en Arabe, en Darija et en Francais. [<a href="http://www.gravitas.ma">en savoir plus ...</a>]</p>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @* vertical load time *@
    <script type="text/javascript" src="~/Scripts/my.js"></script>
}